<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/sticky-footer.css">
        
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background: linear-gradient(to right, #ffd89b, #19547b);">
       <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <a class="navbar-brand" href="/"><i class="fas fa-campground"></i>YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                <a href="/campgrounds" class="nav-link">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                      <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                      <a href="/register" class="nav-link">Sign Up</a>
                    </li>
                <% } else { %>
                    <% if(currentUser && currentUser.isAdmin){ %>
                          <li class="nav-item">
                              <a href="#" class="nav-link">Signed In As Admin</a>
                          </li>
                          <li class="nav-item">
                              <a href="/logout" class="nav-link">Logout</a>
                          </li>
                    <% } else { %>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration:none">
                                  Notifications 
                                  <span class="badge"><%= notifications.length %></span>
                              </a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="/notifications">View past notifications</a>
                                <div class="dropdown-divider"></div>
                                <% notifications.forEach(function(notification) { %>                          
                                    
                                        <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                                            <%= notification.username %> created a new campground
                                        </a>
                                   
                                <% }); %>
                              </div>
                            </div>
                          <li class="nav-item">
                          <a href="#" class="nav-link">Signed In As <%= currentUser.username %></a>
                          </li>
                          <li class="nav-item">
                              <a href="/logout" class="nav-link">Logout</a>
                          </li>
                    <% } %>
                <% } %>
                <form action="/campgrounds" method="GET" class="form-inline mt-2 mt-md-0">
                   <div class="container h-100">
                      <div class="d-flex justify-content-center h-100">
                        <div class="searchbar">
                          <input class="search_input" type="text" name="search" placeholder="Search...">
                          <!--<a href="#" class="search_icon"><i class="fas fa-search"></i></a>-->
                          <button type="submit" class="search_icon"><i class="fas fa-search"></i></a></button>
                        </div>
                      </div>
                    </div>
                </form> 
            </ul>
          </div>
        </nav>
        
            <div class="container">
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
            </div>
            <div class ="container">