<% include ../partials/header %>
    <div class="container">
      <div class="row">
        <div style="width:15rem; margin-right:10px;">
          <img src="<%= user.avatar %>"  alt="" class="img-thumbnail">
        </div>
        <div>
          <blockquote>
            <p>
              <i class="fas fa-user"></i> <%= user.firstname + " " + user.lastname %> <br>
               &#64;<%= user.username %>
            </p>
          </blockquote>
          <p>
            <i class=" fas fa-envelope"></i> <%= user.email %> <br>
            <i class="fas fa-gift"></i> January 30, 1974
          </p>
          <p>
            <h3>My campgrounds</h3>
            <ul>
              <% campgrounds.forEach(function(campground){ %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
              <% }) %>
            </ul>
          </p>
          <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
        </div>
      </div>
    </div>
<% include ../partials/footer %>